body {
    background-color: antiquewhite;
}

h1, h2 {
    font-family:'Times New Roman', Times, serif;
}

h2 {
    font-size: x-large;
}

.container{
    max-width: fit-content;
}

.col{
    max-width: 500px;
    min-width:300px;
    object-fit: contain;
}

iframe{
    width: 310px;
    height: 250px;
}