body {
    background-color: antiquewhite;
}

h1, h2 {
    font-family:'Times New Roman', Times, serif;
}

h2 {
    font-size: x-large;
}

.container{
    max-width: 900px;
    justify-content: center;
}

#homeImg {
    width: 500px;
    height: 350px;
    object-fit: contain;
}