body {
    background-color: #FDF4E6;
}

h1, h2 {
    font-family:'Times New Roman', Times, serif;
    color: #365656;
}

h2 {
    font-size: x-large;
}

.navbar {
    background-color: #F3E8D6;
    
}

.container{
    max-width: 900px;
    justify-content: center;
}

#homeImg {
    width: 1000px;
    height: 667px;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    #homeImg {
        max-width: autopx;
    height: auto;
    }
  }
