body {
    background-color: #FDF4E6;
}

h1, h2 {
    font-family:'Times New Roman', Times, serif;
    color: #365656;
}

h2 {
    font-size: x-large;
}

.navbar {
    background-color: #F1E0C5;
}

.card {
    width: 200px;
    background-color: white;
    border: none;
}

.card-img-top {
    width: 200px;
    height: 200px;
}

.card-footer {
    background-color: white;
    border : none;
    text-align: center;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    border: none;
}

@media only screen and (max-width: 600px) {
    .row{
        justify-content: center;
    }
    #cardList{
        justify-content: center;
    }
  }