body {
    background-color: antiquewhite;
}

h1, h2, h3 {
    font-family:'Times New Roman', Times, serif;
}

.card {
    max-width: 200px;
    background-color: white;
    border: none;
}


.img {
    /* max-width: px;
    max-height: px; */
}